.App {
  text-align: center;
}

* {
  background-color: #E4FFE1;
}

h1 {

}

.navbar {
  overflow: hidden;
  background-color: #6A8D73;
}

.navbar a, option {
  float: left;
  font-size: 16px;
  color: black;
  background-color: #6A8D73;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #6A8D73;;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #F4FDD9;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #6A8D73;
  width: 100%;
  z-index: 1;
}

.subnav-content a, option {
  float: left;
  color: black;
  text-decoration: none;
}

.subnav-content .category-button:hover{
  background-color: #F4FDD9;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.category-button {
  float: left;
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 14px 16px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}